
@import "_general";



.search{
    -webkit-appearance: none;
   margin-left: 6vw;
    width:95vw;
   height: 70px;
   background-color:green;
   position: fixed;
   top:0;
 
   input{
       width:100%;
       height: 10vh;
       border:none;
       padding-left: 5vw;
       font-family: 'Lobster Two', cursive;
       font-size: 15px

   }
   
}


.navbar{
    top:0;
    position:fixed;
    width: 6vw;
    height: 100%;
    font-family: 'Lobster Two', cursive;
    overflow:auto;
    font-size: 11px;
    
    

}
.item-navegador{
margin: 10vh 0;
border-bottom: dotted grey 0.5px;
}

.imagenppal{
    margin-left: 6vw;
    width: 100%;
    height: 150vh;
    display: flex;
 justify-content: center;
 background-color: pink;
}
.movies{

    margin-left: 6vw;
  

}
.hmovies{
    width: 100%;
   
  
    height: 30px;

}


.lista-pelis{
   
margin-top: 180px; 
display: flex;
justify-content: space-between;
}
.pelicula{
border: solid black;
    background-color: peachpuff;
    width: 150px;
    height: 200px;
}
