
body, html {
    margin: 0;
    padding:0; 
}


#cuteMovieSearch{
display:flex;



}

.search{
    -webkit-appearance: none;
   width: 50%;
   height: 10%;
   border: none;
   background-color:blue;
  
   
}



h1{
    background-color: palegreen;
    width:50%;
    align-self: flex-end;
}

.navbar{
    display: flex;
    flex-direction: column;
    width: 10%;
    height: 100%;
    background-color: paleturquoise;

}

.hmovies{
    background-color: palevioletred;

}

.pelicula{
    background-color: blueviolet;
}
.item-navegador{
    width:100%;

}